<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{chat.name}}">
  <ion-content class="myContent" style="height: 100%">
    <div class="list card has-footer" ng-repeat="message in messages">
      <div class="item item-text-wrap">
        {{message.messageDetails}}
      </div>
    </div>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar" style="border-top: .1em solid black; background-color: #ffffff;">
    <label class="item item-input" style="width: 100%; height: 100%; border: none;">
      <textarea placeholder="Send Message..." ng-model="messageDetails" style="width: 100%; height: 100%; resize: none; background-color: transparent;"></textarea>
    </label>
    <div class="item button button-icon ion-ios-paperplane" style="color: #000000;" ng-model="sendMessageButton" ng-disabled="!messageDetails" ng-click="sendMessage(); reset()"></div>
  </ion-footer-bar>
</ion-view>
