<ion-view view-title="Login" name="login-view">
	<ion-content>
		<div class="row">
			<div class="col"><img src="img/Wink Logo.svg" style="width: 100%; height: 200px;"></div>
		</div>
		<div class="list">
			<label class="item item-input" style="border-left: none; border-right: none;">
				<input type="text" placeholder="Email" ng-model="username">
			</label>
			<label class="item item-input" style="border-left: none; border-right: none;">
				<input type="password" placeholder="Password" ng-model="password">
			</label>
		</div>
		<button ng-click="login(username, password)" class="button button-block button-positive"> 
			Login 
		</button>
		<button ng-click="register(username, password)" class="button button-block button-dark"> 
			Register 
		</button>
  	</ion-content>
</ion-view>


<!--
<ion-view view-title="Login">
	<ion-content ng-controller="AppCtrl">
		<div class="row">
			<div class="col"><img src="img/Wink Logo.svg" class="full-image"></div>
		</div>
		<label class="item">
			<button class="button button-block button-positive" ng-click="login()">
			Login with Facebook
			</button>
		</label>
	</ion-content>
</ion-view>

!! Working Simple Login Page
<ion-view view-title="Login" name="login-view">
	<ion-content class="padding">
    	<div class="list list-inset">
        	<label class="item item-input">
            	<input type="text" placeholder="Email" ng-model="username">
          	</label>
          	<label class="item item-input">
              	<input type="password" placeholder="Password" ng-model="password">
          	</label>
      	</div>
      	<button ng-click="login(username,password)" class="button button-block button-positive has-header"> Login </button>
	  	<button ng-click="register(username,password)" class="button button-block button-dark has-header"> Register </button>
  	</ion-content>
</ion-view>

-------------------


!!Simple Firebase Login Page (Note that Facebook Login Page is above this)

<ion-view view-title="Login">
	<ion-content ng-controller="AppCtrl">
		<div>
			<h4 style="margin-top: 20%"> This is a temporary login page </h4>
			<div class="list list-inset has-header">
				<label class="item item-input">
					<input ng-model="username" type="text" placeholder="Email" />
				</label>
				<label class="item item-input">
					<input ng-model="password" type="password" placeholder="Password" />
				</label>
			</div>
			<button ng-click="login(username,password)" class="button button-block button-positive has-header"> Login </button>
			<button ng-click="register(username,password)" class="button button-block button-dark has-header"> Register </button>
		</div>
	</ion-content>
</ion-view>