<ion-view view-title="Notification Settings">
  <ion-content class="myContent">
    <strong><span style="margin-top: 5px; margin-left: 5px;">Connections</span></strong>
    <p style="margin-left: 5px; font-style: italic;">John accepted your post!</p> 
      <div class="list" style="background-color: #f4f6fe;">
            
        <label class="item item-icon-left item-radio">
          <input type="radio" name="connections" value="off">
          <div class="item-content">
            No
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>
        <label class="item item-icon-left item-radio">
          <input type="radio" name="connections" value="on" checked="checked">
          <div class="item-content">
            Yes
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>
      </div>
      
    <strong><span style="margin-top: 5px; margin-left: 5px;">Tags</span></strong>
    <p style="margin-left: 5px; font-style: italic;">You've been tagged in a post!</p> 
      <div class="list" style="background-color: #f4f6fe;">
            
        <label class="item item-icon-left item-radio">
          <input type="radio" name="tags" value="off">
          <div class="item-content">
            No
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>
        <label class="item item-icon-left item-radio">
          <input type="radio" name="tags" value="on" checked="checked">
          <div class="item-content">
            Yes
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>
      </div>
    
    <strong><span style="margin-top: 5px; margin-left: 5px;">Messages</span></strong>
    <p style="margin-left: 5px; font-style: italic;">John has sent you a message!</p> 
      <div class="list" style="background-color: #f4f6fe;">
            
        <label class="item item-icon-left item-radio">
          <input type="radio" name="messages" value="off">
          <div class="item-content">
            No
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>
        <label class="item item-icon-left item-radio">
          <input type="radio" name="messages" value="on" checked="checked">
          <div class="item-content">
            Yes
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>
      </div>  
    
    <strong><span style="margin-top: 5px; margin-left: 5px;">New Profile Information</span></strong>
    <p style="margin-left: 5px; font-style: italic;">You've just unlocked John's Age!</p> 
      <div class="list" style="background-color: #f4f6fe;">
            
        <label class="item item-icon-left item-radio">
          <input type="radio" name="profileinfo" value="off">
          <div class="item-content">
            No
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>
        <label class="item item-icon-left item-radio">
          <input type="radio" name="profileinfo" value="on" checked="checked">
          <div class="item-content">
            Yes
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>
      </div>  
  </ion-content>
</ion-view>
