<ion-view view-title="Notifications">
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-search" menu-toggle="left" style="color: #ffffff;">
    </button>
  </ion-nav-buttons>
  <ion-content class="myContent">
    <ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()">
    </ion-refresher>
      <div class="list">
        
        <div class="item item-divider"> 
          Connections
        </div>
        <a class="item" href="#">
          Notification
        </a>

        <div class="item item-divider"> 
          Profile Info Unlocked
        </div>
        <a class="item" href="#">
          Notification
        </a>
      </div>
  </ion-content>
</ion-view>
