<ion-view>
  
  <ion-header-bar>
    <input type="search" placeholder="Search..." style="width: 100%; background-color: #ffffff; border-radius: 5px;">
  </ion-header-bar>
  
  <div class="tabs-striped tabs-top" style="border-bottom: .2em solid black;">
    <div class="tabs sub-header">
      <a class="tab-item active" ui-sref="tab.dash">
        Thread
      </a>
      <a class="tab-item" ui-sref="tab.map">
        Nearby
      </a>
    </div>
  </div>
  
  <ion-content class="myContent">
    
    <ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()">
    </ion-refresher>
       
      <div class="list card has-header" style="width: 100%; margin-left: 0px; padding: 0;">
        
        <div class="item item-avatar threadCard-header" style="background-color: #45C496; border-bottom: .1em solid black;" ui-sref="tab.postDetails">
          <img src="img/Wink Bunny LG.svg">
          <h2 style="color: #ffffff;">First Name</h2>
          <p style="color: #ffffff;">- about 30 minutes ago</p>
        </div>
      
        <div class="item item-body" ui-sref="tab.postDetails">
          <p>
            This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
            the content is from a card-body consisting of an image and paragraph text. The footer
            consists of tabs, icons aligned left, within the card-footer.
          </p>
        </div>
      
        <div class="item tabs tabs-secondary tabs-icon-left" ng-controller="AcceptCtrl" style="background-color: #ffffff;">
          <a class="tab-item" href="#" style="font-size: 12px; color: #009161;">
            <i class="icon ion-checkmark-round"></i>
            Accept
          </a>
          <a class="tab-item flip" ui-sref="tab.postDetails" style="font-size: 12px; color: #0A60A0;">
            <i class="icon ion-pricetag"></i>
            Tag
          </a>
          <a class="tab-item" href="#" style="font-size: 12px; color: #ff0000;" ng-click="openModal()" ng-controller="ReportCtrl">
            <i class="icon ion-alert"></i>
            Report
          </a>
        </div>
      
      </div>
      
      <script id="report-modal.html" type="text/ng-template">
        <div class="modal">
          <ion-header-bar>
            <div style="margin-left: 5px">
              <button class="button button-small button-clear" style="color: #ffffff; font-size: 16px;" ng-click="closeModal()">
                Cancel
              </button>
            </div>
            <h1 class="title" style="color: #ffffff;">Report Post</h1>
              <button class="button button-small button-clear" style="font-size: 16px; color: #ff0000;" ng-click="closeModal()">
                Report
              </button>
          </ion-header-bar>
          <ion-content>
            <p style="margin-left: 5px; margin-top: 5%; font-size: 18px; line-height: 150%; text-align: center;">Oh, no! We're sorry you had a poor experience, here at Wink we are dedicated to keeping your thread clean! Please help us get rid of this trash by clarifying why you are reporting this post.</p>
            <div class="list" ng-controller="MainCtrl">
              
              <ion-radio ng-repeat="item in clientSideList" ng-value="item.value" ng-model="data.clientSide">
                {{ item.text }}
              </ion-radio>
              
            </div>
          </ion-content>
        </div>
      </script>
    
  </ion-content>
</ion-view>
