//custom sass goes within here

//app body styling
.myContent{
	background-color: #e8e8e8;
}

//header bar styling
.bar {
	background-color: #45C496;
}

//styling for textarea placeholder
input::-moz-placeholder, textarea::-moz-placeholder {
  color: #000000; }
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #000000; }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #000000;
  text-indent: 3px; }
  
//post button styling
.platform-ios .post_tab{
  background-color: #009161 !important;
  color: #ffffff !important;
  height: 50px !important;
  margin-bottom: 1px !important;
}

.platform-android .post_tab{
  background-color: #009161 !important;
  color: #ffffff !important;
  height: 49px !important;
}


//this makes the subheader show up on Android
.platform-android .sub-header{
  margin-top: 50px !important;
}


//this fixes the sizing of the 'has-subheader' class within the "Nearby" tab
.platform-ios.platform-cordova:not(.fullscreen) .has-subheader {
  top: 50px !important; 
}
.platform-android.platform-cordova:not(.fullscreen) .has-subheader {
  top: 50px !important; 
}


//Styling for when a 'button-dark' button is clicked
.button.button-dark.active, .button.button-dark.activated{
  background-color: #45C496;
}