/* this is the "Missed Connections" header */
h1 {
	text-align: center;
	color: #000000;
}

/* this is the "Login" header */
h3 {
	text-align: center;
	color: #000000;
	font-size: 1.5em;
}
/* this is the header div */
#header {
	width: 100%;
	height: 50px;
	display: block;
	background-color: #ffffff;
}
/* this is the login box */
#loginbox {
	width: 150px;
	height: 225px;
	background-color: #ffffff;
	margin-top: 45%;
	margin: auto;
}
/* this is the "Login" and "Password" text fields */
#login {
	text-align: center; 
	color: #000000;
	border-radius: 5px;
}
/* this is the "Signup" link */
#signup {
	text-align: center;
	color: #000000;
	text-decoration: underline;
	font-size: .5em;
}
/* this is the "Forgot Password" link */
#forgotpass {
	text-align: center;
	color: #000000;
	text-decoration: underline;
	font-size: .5em;
}